NODE_ENV="development"
DATABASE_URL="postgresql://sonskay:sonskay@localhost:5436/sonskay?schema=public"
PORT=3003
SONSKAY_ENCRYPTION_KEY=""
JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
WEB_URL="http://localhost:5173"
